<div class="text-center hero">
  <img class="mb-3 app-logo"
       src="https://avatars2.githubusercontent.com/u/17064356"
       alt="OmniAuth logo">
  <h1 class="mb-4">OmniAuth-Auth0 Sample Project</h1>

  <p class="lead">
    This is a sample application demonstrating web app login using
    <a href="https://github.com/omniauth/omniauth">OmniAuth</a>
  </p>
</div>
